<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A cool thing made with Glitch">

        <title>Reconnect a Call Demo - Send</title>

        <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
        <!-- import the webpage's stylesheet -->
        <link rel="stylesheet" href="/style.css">

        <!-- import the webpage's client-side javascript file -->
        <script src="/nexmoClient.js"></script>
    </head>
    <body>
        <header>
            <h1>Reconnect App to App Demo - Send</h1>
        </header>

        <main>
            <section id="loginContainer">
                <form id="login">
                    <label for="username">Username: </label>
                    <input name="username" id="username" type="text" placeholder="username" aria-labelledby="login" required>
                    <button type="submit" id="submitButton">Login</button>
                </form>
                <div id="errorStatus"></div>
            </section>
            <section id="appToAppContainer">
                <h1>Call User from App</h1>
                go to <a href="/receive" target="_blank">/receive</a> to create a user to receive the call.
                <br/><label for="user-to-call">Username you'd like to call:</label>
                <input type="text" name="user-to-call" value="" placeholder="username" id="user-to-call" size="30">
                <button type="button" id="call">Call</button>
                <button type="button" id="hangup">Hang Up</button>
                <div id="status"></div>
                <div id="log-container">
                    <h1>Logs</h1>
                    <div id="logs"></div>
                </div>
            </section>
        </main>

        <script type="module" src="/script.js" defer></script>
    </body>
</html>
